<template name="navigation">
    
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
    <span class="caret"></span>
  </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {{#if currentUser}}
        <li><a href="#" class="logout">Se déconnecter</a></li>
    {{else}}
        <li><a href="{{pathFor route='register'}}">S'enregistrer</a></li>
        <li><a href="{{pathFor route='login'}}">Se connecter</a></li>
    {{/if}}
    </ul>
</div>

</template>